@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src:url('../fonts/Quicksand-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src:url('../fonts/Quicksand-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src:url('../fonts/Quicksand-Bold.ttf') format('truetype');
}
#login{
	background: -webkit-linear-gradient(to right, #1565C0 , #90CAF9); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #1565C0 , #90CAF9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family:Quicksand,sans-serif;
}
#reset{
	background: -webkit-linear-gradient(to right, #a10000, #b80001); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #a10000, #b80001); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family:Quicksand,sans-serif;
}
.content{
	margin-top: 100px;
}
.content-logo {
	text-align: center;
}
.content-logo img {
	width: 300px;
}
.content-title {
	margin-bottom: 20px;
}
.content-title .title {
	color: #FFFFFF;
	font-size: 46px;
	line-height: 55px;
	font-weight: 700;
	text-align: center;
}
.content-copyright{
	color: #FFFFFF;
	text-align: center;
}
.forgot-section, .aktivasi-section {
	display: none;
}
#action-box {
	box-shadow: -2px 5px 50px black;
  background-color: transparent;
  border-radius: 10px;
  color:white;
  padding:20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.login-box{
	
}
.login-box .login-title h3 {
	color: #FFFFFF;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
}
.login-box .panel-body {
	font-weight: 500;
}
.login-box .form-control option {
	font-weight: 500;
}
.login-btn {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
}
.z-depth-1{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.modal-header{
  background: -webkit-linear-gradient(to right, #1565C0 , #90CAF9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0 , #90CAF9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFFFFF;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
}


@media only screen and (max-width: 600px) {
	.content {
		margin-top: 20px;
	}
	.content-logo img {
		width: 200px;
	}
	.content-title .title {
		font-size: 24px;
		line-height: 30px;
		font-weight: 700;
	}
	#action-box {
		margin-bottom: 50px;
	}
}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 16px;
    color: #ccc;
    line-height: 26px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
#closeCookieConsent i {
	color: #F1D600;
	font-size: 20px;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 15px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/
