/**
 * @author Devara Eko
 * @copyright 2017 UP45 Yogyakarta
 */

/**
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Montserrat:400,700|Open+Sans:400,400i,700,700i');
@import url(https://fonts.googleapis.com/css?family=Lato:700,300);
*/
/*
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: transparent;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #2196F3;
    -webkit-box-shadow: inset 0 0 6px #2196F3;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(51, 153, 255, 1);
} */

body {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  overflow-x: hidden;
  /* fixing the overflow duting animation */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Lora', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 3em;
}
h3 {
  font-size: 1.6em;
  line-height: 1.4em;
}
p {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: 300;
}
a {
  color: #444;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
img {
  max-width: 100%;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  list-style: none;
  margin: 0;
}
ol {
  list-style: none;
}
ol li {
  font-weight: 300;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.z-depth-0 {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.z-depth-1, .card, .btn {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4 {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.center {
  text-align: center;
}

.top-header {
	background-image: url(../img/logo/header.jpg);
	background-size: cover;
}
.navbar-up {
  background: #2196F3;
  width: 100%;
  max-height: 50px;
  right: 0;
  left: 0;
  z-index: 1030;
  border-width: 0;
  border-radius: 0px;
  margin-bottom: 20px;
}
.navbar-nav li > a {
  background-color: #2196F3 !important;
  padding: auto;
}
@media (min-width: 480px) {
    .navbar-nav li > a {
      background-color: #2196F3 !important;
    }
}
.navbar-nav .nav-logo > a {
  padding:5px 5px 10px 5px;
}
.nav-logo a {
  background-color: rgba(51, 153, 255, 1) !important;
  position: absolute;
  top: -10px;
  border-radius: 5px;
}
.nav-logo a:hover {
  background-color: rgba(51, 153, 255, 1) !important;
}
.nav-logo img {
  display: block;
  width: 150px;
}
.site-title{color: #FFFFFF;font-size: 2em;font-weight: bold;text-align: center;padding-top: 20px;}
.site-subtitle{color: #FFFFFF;font-size: 1.25em;text-align: center;}
.nav-link {
	padding: 10px;
}
.nav-link a {
	font-size: 12px !important;
	color: #FFFFFF;
	font-weight: 600;
}
.nav-link i {
	font-size: 16px;
	padding-bottom: 2px !important;
}
.nav-link a:hover,
.nav-link a.active,
.nav-link a:focus {
  color: black !important;
  background: transparent;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
.btn-post {
	display: block;
}
.owl-controls{ text-align: center;}
.owl-dots{ margin: 80px 0 0; display: inline-block;}
.owl-dots .owl-dot{ width: 70px; height: 5px; background: #c4c4c4; float: left; margin: 0 0 0 10px; cursor: pointer;}
.owl-dots .owl-dot:first-child{ margin: 0;}

.owl-nav .owl-prev,
.owl-nav .owl-next{ height: 40px; width: 40px; text-align: center; line-height: 40px; color: #FFFFFF; float: left; cursor: pointer; background: #2196F3; font-size: 20px;
top: 30%; position: absolute; margin: -30px 0 0;
-webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.19);
-moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.19);
box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.19);}
.owl-nav .owl-prev{ left: 0px;}
.owl-nav .owl-next{ right: 0px;}
.owl-nav .owl-prev::before,
.owl-nav .owl-next::before{ font-family: FontAwesome!important;}
.owl-nav .owl-prev::before{ content: "\f0d9";}
.owl-nav .owl-next::before{ content: "\f0da";}

.slide-section {
  background-color: #FFFFFF;
  padding: 10px;
}
/* Tombol link */
.sub-button {
  margin-top: 20px;
}
.sub-button a {
  color: #FFFFFF;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
  display: block;
}
.sub-button .title {
  font-size: 18px;
  font-weight: 700;
}
.sub-section {
	padding-top: 20px;
  margin-bottom: 20px;
}
.sub-agenda {
  background-color: #eeeeee !important;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 410px;
}
.sub-agenda .title {
  margin-bottom: 20px;
}
.sub-agenda .title-2 {
  margin-top: 10px;
  text-align: center;
  display: block;
}
.sub-agenda .title h3 {
  color: #337ab7;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -2px !important;
  line-height: 28px;
  text-transform: uppercase;
}
.sub-agenda .title a {
  color: #337ab7;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.54px;
  padding: 7px 30px;
  position: absolute;
  right: 5px;
  text-align: center;
  text-transform: uppercase;
  top: 15px;
}
.sub-agenda .title-2 a {
  color: #337ab7;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.sub-agenda .scroll {
  max-height: 320px;
  overflow-y: scroll;
}
.content-agenda .berita-slider .berita-item {
  padding: 0px 5px 5px 5px;
}
.content-agenda .berita-slider .berita-item .berita-date {
  font-size: 12px;
  font-weight: 600;
}

.content-agenda .media {
  background-color: #FFFFFF;
}
.content-agenda .media .media-left {
  background-color: #2196F3;
  color: #FFFFFF;
  padding: 10px;
  min-width: 60px;
}
.content-agenda .media .media-left .top-date {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}
.content-agenda .media .media-body {
  padding-top: 10px;
  padding-left: 5px;
}
.content-agenda .media:hover > .media-left {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.sub-link {
  padding-top: 30px;
}
.sub-link .sub {
  margin:0px 20px 0px 20px;
}
.sub-link img {
  margin:auto;
  width: 200px;
  border-radius: 10px;
}
.unit-section {
	color: #fff;
	text-align: center;
}
.section-title {
	color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 2px;
 	font-size: 18px;
  font-weight: 400;
 	letter-spacing: 0.1em;
 	padding: 10px;
  margin-bottom: 10px;
 	text-transform: uppercase;
}
.view-more {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.54px;
  padding: 7px 20px;
  position: absolute;
  right: 5px;
  text-align: center;
  text-transform: uppercase;
  top: 5px;
}
.berita {
  margin-bottom: 10px;
  padding: 3px;
}
.post-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post-content {
  margin-top: 10px;
}
.post-title {
  min-height: 100px;
}
.post-title a {
  color: #2196F3 !important;
  font-size: 14px;
}
.post-detail p {
  font-family: 'Montserrat', sans-serif, !important;
}
.f-category {
  height: 225px;
  margin-top: -1px;
  padding: 15px;
  text-align: center;
  overflow: hidden;
  margin-right: -1px;
}
.f-category .icon-img {
  width: 100%;
  height: 100px;
}
.f-category h6 {
  color: #444;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 50px 0;
}
.f-category img {
  height: 130px;
  display: inline-block;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.f-category img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* ==========================================================================
   Card Style
   ========================================================================== */

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.card .card-title {
  font-size: 12px;
  font-weight: 400;
}

.card .card-title.activator {
  cursor: pointer;
}

.card.small, .card.medium, .card.large {
  position: relative;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 60%;
  overflow: hidden;
}

.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
  max-height: 40%;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  max-height: 100%;
  overflow: hidden;
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.card.small {
  height: 300px;
}

.card.medium {
  height: 400px;
}

.card.large {
  height: 500px;
}

.card.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image {
  height: 100%;
  max-height: none;
  overflow: visible;
}

.card.horizontal.small .card-image img, .card.horizontal.medium .card-image img, .card.horizontal.large .card-image img {
  height: 100%;
}

.card.horizontal .card-image {
  max-width: 50%;
}

.card.horizontal .card-image img {
  border-radius: 2px 0 0 2px;
  max-width: 100%;
  width: auto;
}

.card.horizontal .card-stacked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.card.horizontal .card-stacked .card-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card.sticky-action .card-action {
  z-index: 2;
}

.card.sticky-action .card-reveal {
  z-index: 1;
  padding-bottom: 64px;
}

.card-image {
  position: relative;
}

.card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card-image .card-title {
  color: #FFFFFF;
  background-color: #f95454;
  text-align: center;
  position: absolute;
  bottom: 0;
  max-width: 100%;
  padding: 5px;
}

.card .card-content {
  padding: 10px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.card .card-content .card-title i {
  line-height: 32px;
}

.card .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px 24px;
}

.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.card .card-reveal {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}

/* ==========================================================================
   Page Content Style
   ========================================================================== */
/* BREADCRUMB */
.breadcrumb-container { border: 1px solid transparent;border-radius: 4px;border-color: #ddd;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-sizing: border-box;
          height: 36px;
          margin-bottom: 7px;
}
.breadcrumbs {
  line-height: 34px;
  height: 34px;
  padding:0;
  font-size: 1em;overflow: hidden;
  max-width: 100%;}
.breadcrumbs li {display: block;float: left;position: relative;max-width: 100%;}
.breadcrumbs li a{height: 34px;line-height: 34px;overflow: hidden;cursor: pointer;color: #fff;text-decoration: none;background-color: #8bc34a;padding: 0 10px 0 16px;border-bottom: 1px solid #fff;outline: 0 none;-moz-outline-style: 0 none;display: block;border-bottom: none;}
.breadcrumbs li .arrow {border: 17px solid transparent;border-right: 1px none black;border-left-width: 10px;border-left-color: #fff;-moz-border-right-colors: #fff;display: block;position: absolute;right: -11px;top: 0px;z-index: 34;width: 0px;height: 0px;}
.breadcrumbs li .arrow span {border: 17px solid transparent;border-right: 1px none black;border-left-width: 10px;border-left-color: #8bc34a;-moz-border-right-colors: #e91e63;display: block;position: absolute;left: -11px;top: -17px;z-index: 34;white-space: nowrap;overflow: hidden;text-indent: 9999px;width: 0px;height: 0px;}
.breadcrumbs li:hover a {color: #fff;background-color: #7cb342;}
.breadcrumbs li:hover .arrow span {border-left-color: #7cb342;}
.breadcrumbs li.active a{color:#fff;background-color: #7cb342;}
.breadcrumbs li.active .arrow span {border-left-color: #7cb342;}

.page {
  background-color: #FFFFFF;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.page-header {

}
.page-content p {
  font-size: 14px !important;
  font-weight: 300;
}
.page-content ol {
  list-style: unset;
}
/* PANEL UP */
@media only screen and (min-width :768px){
  .panel-body-up45-medium-with-footer{height: 450px;overflow-y:  hidden;}
  .panel-body-up45-medium{height: 500px;overflow-y: hidden;}
  .panel-body-up45-small-with-footer{height: 250px;overflow-y: hidden;}
  .panel-body-up45-small{height: 300px;overflow-y: hidden;}
}
.panel {margin-bottom:7px;}
/* BLUR */
.valign-wrapper {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center; }
.valign-wrapper .valign {display: block; }

.blur-wrapper{position: relative;}
.blur-image{width: 100%;margin-bottom: -5px;}
.blur {top:0;left:0;position: absolute;height: 100%;width: 100%;overflow: hidden;}
.blur.blur-1{background: rgba(0,0,0,0.25);}
.blur.blur-2{background: rgba(0,0,0,0.45);}
.blur.blur-3{background: rgba(0,0,0,0.55);}
.blur.blur-4{background: rgba(0,0,0,0.65);}
.blur.blur-5{background: rgba(0,0,0,0.75);}

/* ==========================================================================
   Footer Style
   ========================================================================== */
footer .footer-Content {
  background-color: rgb(25, 118, 210);
  padding: 25px 0;
  color: #fff;
}
.textwidget p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  padding-left: 8px;
}
footer .menu {
  padding-left: 0;
}
footer .menu li {
  float: left;
  width: 50%;
  padding-bottom: 10px;
}
footer .menu li a {
  color: #fff;
}
footer .menu li a:hover {
  color: black;
}
footer .widget h3 {
	margin-bottom: 15px;
}
.bottom-social-icons {
  padding-right: 50px;
}
.bottom-social-icons a {
  color: #fff;
  text-align: center;
  width: 32px;
  line-height: 32px;
  border-radius: 0px;
  background: rgb(25, 118, 210);
  display: inline-block;
  height: 32px;
  position: relative;
  overflow: hidden;
}
#copyright {
  background-color: rgb(21, 101, 192);
  color: #fff;
  padding-top: 10px;
}
#copyright p {
  line-height: 34px;
}
#copyright p a {
  color: #fff;
}
#copyright p a:hover {
  color: #3498db;
}
.social-icon .facebook:hover {
  background-color: #3b5998;
}
.social-icon .twitter:hover {
  background-color: #55acee;
}
.social-icon .instagram:hover {
  background-color: #e4405f;
}
.social-icon .dribble:hover {
  background-color: #D34836;
}
.social-icon .flickr:hover {
  background-color: #ff0084;
}
.social-icon .youtube:hover {
  background-color: #CC181E;
}
.social-icon .google-plus:hover {
  background-color: #dd4b39;
}
.social-icon .linkedin:hover {
  background-color: #007bb5;
}
